* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(32, 32, 32); */
    background-color: #fafafa;
    scroll-behavior: smooth;
}

::selection {
    background-color: #3f3f3f;
    color: #fff;
}


body {
    --sb-track-color: #F5F4F6;
    --sb-thumb-color: #6f6f6f;
    --sb-size: 7px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}